<!-- Statr Footer -->
<footer class="footer">
      <!-- Start Conatiner -->
      <div class="container">
            <div class="row">
                  <div class="col">
                        <!-- Start Footer Container -->
                        <div class="footer__container">
                              <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
                                    <div class="col-3">
                                         <!-- Statr Section-one -->
                                          <section class="footer__section footer__section--about">
                                                <h2 class="footer__title">About Us</h2>
                                                <div class="row">
                                                      <div class="col gy-2">
                                                            <ul class="footer__list">
                                                                  <li class="footer__item">
                                                                        <a href="#!" class="footer__link">
                                                                              About us
                                                                        </a>
                                                                  </li>
                                                                  <li class="footer__item">
                                                                        <a href="#!" class="footer__link">
                                                                              News  
                                                                        </a>
                                                                  </li>
                                                                  <li class="footer__item">
                                                                        <a href="#!" class="footer__link">
                                                                              Support
                                                                        </a>
                                                                  </li>
                                                                  <li class="footer__item">
                                                                        <a href="#!" class="footer__link">
                                                                              Contact
                                                                        </a>
                                                                  </li> 
                                                            </ul>
                                                      </div>
                                                </div>
                                          </section>
                                          <!-- End Section-one -->
                                    </div>
                                    <div class="col-3 gy-md-2">
                                          <!-- Statr Section-two -->
                                          <section class="footer__section footer__section--service">
                                                <h2 class="footer__title">Service</h2>
                                                <div class="row">
                                                      <div class="col gy-2 gy-md-3">
                                                            <ul class="footer__list">
                                                                  <li class="footer__item">
                                                                        <a href="#!" class="footer__link">
                                                                              Help Center
                                                                        </a>
                                                                  </li>
                                                                  <li class="footer__item">
                                                                        <a href="#!" class="footer__link">
                                                                              Privacy Policy
                                                                        </a>
                                                                  </li>
                                                                  <li class="footer__item">
                                                                        <a href="#!" class="footer__link">
                                                                              How to buy
                                                                        </a>
                                                                  </li>
                                                                  <li class="footer__item">
                                                                        <a href="#!" class="footer__link">
                                                                              Terms of use
                                                                        </a>
                                                                  </li> 
                                                            </ul>
                                                      </div>
                                                </div>
                                          </section>
                                          <!-- End Section-two -->
                                    </div>
                                    <div class="col-4 gy-md-2">
                                          <!-- Statr Section-three -->
                                         <section class="footer__section footer__section--payment">
                                               <h2 class="footer__title">Service</h2>
                                               <div class="row">
                                                      <div class="col  gy-md-3">
                                                            <div class="footer__payment-logo">
                                                                  <img src="./img/paypal.png" alt="PayPal" class="footer__payment-logo-paypal">
                                                                  <img src="./img/visa.png" alt="Visa" class="footer__payment-logo-visa">
                                                                  <img src="./img/shb.png" alt="SHB" class="footer__payment-logo-shb">
                                                                  <img src="./img/gpa.png" alt="GBA" class="footer__payment-logo-gpa">
                                                                  <img src="./img/sgb.png" alt="SGB" class="footer__payment-logo-sgb">
                                                                  <img src="./img/cod.png" alt="Cod" class="footer__payment-logo-cod">
                                                            </div>
                                                      </div>
                                               </div>
                                         </section>
                                          <!-- End Section-three -->
                                    </div>
                                    <div class="col-2 gy-lg-2">
                                          <!-- Statr Section-four -->
                                          <section class="footer__section footer__section--follow">
                                                <h2 class="footer__title">Follow Us</h2>
                                                <div class="row">
                                                      <div class="col gy-2 gy-md-3">
                                                            <ul class="footer__social-list">
                                                                 <li class="footer__social-item">
                                                                       <img src="./img/facebook.png" alt="Facebook" class="footer__social-img">
                                                                       <a href="#" class="footer__social-link">Facebook</a>
                                                                 </li>
                                                                 <li class="footer__social-item">
                                                                       <img src="./img/linke.png" alt="Linke" class="footer__social-img">
                                                                       <a href="#" class="footer__social-link">LinkedIn</a>
                                                                 </li>
                                                                 <li class="footer__social-item">
                                                                       <img src="./img/instagram.png" alt="Instagram" class="footer__social-img">
                                                                       <a href="#" class="footer__social-link">Instagram</a>
                                                                 </li>
                                                                 <li class="footer__social-item">
                                                                       <img src="./img/zalo.png" alt="Zalo" class="footer__social-img">
                                                                       <a href="#" class="footer__social-link">Zalo</a>
                                                                 </li>
                                                           </ul>
                                                      </div>
                                                </div>
                                          </section>
                                           <!-- End Section-four -->
                                    </div>
                              </div>
                             
                        </div>
                        <!-- End Footer Container -->
                  </div>
            </div>
            <!-- Start footer Bottom -->
            <div class="footer__bottom">
                  <div class="row gx-5">
                        <div class="col">
                              <h2 class="footer__title">COMPANY</h2>
                              <div class="row">
                                    <div class="col gy-2">
                                          <div class="footer__company">
                                                <p class="footer__text">
                                                      Hotline: 0982636800 (Các ngày trong tuần từ 8h đến 24h)
                                                </p>
                                                <p class="footer__text">
                                                      Email: abcs@gmail.
                                                </p>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="col gy-md-2">
                              <div class="footer__certification">
                                    <h2 class="footer__title">certification</h2>
                                    <div class="row">
                                          <div class="col gy-2">
                                                <div class="footer__certification-logos">
                                                      <img src="./img/bct.png" alt="Bo cong thuong" class="footer__certification-img">
                                                      <img src="./img/chung-nhan.png" alt="Chung nhan" class="footer__certification-img">
                                                      <img src="./img/dmca.png" alt="dmca" class="footer__certification-img">
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            <!-- End footer Bottom -->
      </div>
      <!-- End Conatiner -->
      <div class="footer__copy">
            <div class="footer__copyright">
               <p class="footer__copy-text">© 2024 by NapThe. All Rights Reserved.</p>
            </div>
      </div>     
</footer>
<!-- End Footer -->

