@use "./reset";

// Layout
@use "./layout/grid";
@use "./layout/header";
@use "./layout/footer";

// Pages
@use "./page/home";
@use "./page/sign-in";
@use "./page/sign-up";

// Component
@use "./components/button";
@use "./components/forms";
@use "./components/course-item";



// Common
*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Inter","Manrope","Quicksand";
}

button, input, textarea, select {
    font-size: inherit;
    font-family: inherit;

}

button{
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
}
a{
    color: inherit;
}